<a href="https://colab.research.google.com/github/ramrajv/AI_Fin/blob/main/YF_Indian_Buy_Sell.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import yfinance as yf
import datetime
import time
import requests
import io

In [ ]:
url = 'https://raw.githubusercontent.com/ramrajv/AI_Fin/main/YF_Stock_Codes.csv'
df = pd.read_csv(url)

In [ ]:
df.head

<bound method NDFrame.head of          YF_Symbol       SC_NAME
0        500002.BO  ABB LTD.
1        500003.BO  AEGIS LOGIS
2        500008.BO  AMAR RAJA BA
3        500009.BO  A.SARABHAI
4        500010.BO  HDFC
...            ...           ...
6588       ZOTA.NS          ZOTA
6589      ZUARI.NS         ZUARI
6590   ZUARIIND.NS      ZUARIIND
6591  ZYDUSLIFE.NS     ZYDUSLIFE
6592  ZYDUSWELL.NS     ZYDUSWELL

[6593 rows x 2 columns]>

## Historical Market Prices

Get the historical market prices of 90days

In [ ]:
end = datetime.date.today()
start = end-pd.Timedelta(days = 90)

In [ ]:
Symbols = df['YF_Symbol'].tolist()

In [ ]:
# create empty dataframe
stock_final = pd.DataFrame()
# iterate over each symbol
for i in Symbols:

    # print the symbol which is being downloaded
    print( str(Symbols.index(i)) + str(' : ') + i, sep=',', end=',', flush=True)

    try:
        # download the stock price
        stock = []
        stock = yf.download(i,start=start, end=end, progress=False)

        # append the individual stock prices
        if len(stock) == 0:
            None
        else:
            stock['Name']=i
            stock_final = stock_final.append(stock,sort=False)
    except Exception:
        None

In [ ]:
stock_final

,Open,High,Low,Close,Adj Close,Volume,Name
Date,,,,,,,
2023-04-12,581.400024,590.599976,574.450012,576.849976,576.849976,4353,500008.BO
2023-04-13,576.849976,578.799988,567.000000,570.299988,570.299988,30471,500008.BO
2023-04-17,570.299988,582.049988,568.250000,580.400024,580.400024,7289,500008.BO
2023-04-18,573.599976,589.900024,573.599976,589.150024,589.150024,4374,500008.BO
2023-04-19,589.400024,616.799988,588.700012,612.650024,612.650024,33546,500008.BO
...,...,...,...,...,...,...,...
2023-07-04,1488.099976,1489.949951,1470.000000,1480.900024,1480.900024,26100,ZYDUSWELL.NS
2023-07-05,1481.150024,1488.050049,1472.099976,1479.449951,1479.449951,21358,ZYDUSWELL.NS
2023-07-06,1478.050049,1499.949951,1477.199951,1483.800049,1483.800049,50999,ZYDUSWELL.NS
2023-07-07,1483.099976,1489.949951,1477.250000,1481.550049,1481.550049,13406,ZYDUSWELL.NS
2023-07-10,1489.000000,1489.800049,1450.000000,1467.000000,1467.000000,28858,ZYDUSWELL.NS

In [ ]:
pip install ta

Collecting ta
  Downloading ta-0.10.2.tar.gz (25 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from ta) (1.22.4)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from ta) (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas->ta) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->ta) (2022.7.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas->ta) (1.16.0)
Building wheels for collected packages: ta
  Building wheel for ta (setup.py) ... done
  Created wheel for ta: filename=ta-0.10.2-py3-none-any.whl size=29088 sha256=3022bca3856a560229addc7ab8168a26197cdc309ac1184ec052caf99b711dbe
  Stored in directory: /root/.cache/pip/wheels/47/51/06/380dc516ea78621870b93ff65527c251afdfdc5fa9d7f4d248
Successfully built ta
Installing collected packages: ta
Successfully installed ta-0.10.2

In [ ]:
import ta

In [ ]:
stockinfo_unavailable = df[~df['YF_Symbol'].isin(stock_final['Name'].values.tolist())]['YF_Symbol']

In [ ]:
stockinfo_unavailable

0          500002.BO
1          500003.BO
3          500009.BO
4          500010.BO
7          500014.BO
            ...
6565    WOCKPHARM.NS
6569    WSTCSTPAP.NS
6579    ZENITHEXP.NS
6581    ZENSARTEC.NS
6586    ZODIACLOT.NS
Name: YF_Symbol, Length: 3907, dtype: object

In [ ]:
pip install TA-Lib

Collecting TA-Lib
  Using cached TA-Lib-0.4.26.tar.gz (272 kB)
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Installing backend dependencies ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from TA-Lib) (1.22.4)
Building wheels for collected packages: TA-Lib
  error: subprocess-exited-with-error

  × Building wheel for TA-Lib (pyproject.toml) did not run successfully.
  │ exit code: 1
  ╰─> See above for output.

  note: This error originates from a subprocess, and is likely not a problem with pip.
  Building wheel for TA-Lib (pyproject.toml) ... error
  ERROR: Failed building wheel for TA-Lib
Failed to build TA-Lib
ERROR: Could not build wheels for TA-Lib, which is required to install pyproject.toml-based projects

In [ ]:
pip install /content/TA_Lib-0.4.24-pp38-pypy38_pp73-win_amd64.whl

ERROR: TA_Lib-0.4.24-pp38-pypy38_pp73-win_amd64.whl is not a supported wheel on this platform.

In [ ]:
path

'https://github.com/ramrajv/AI_Fin/blob/main/TA_Lib-0.4.24-pp38-pypy38_pp73-win_amd64.whl'